Hi <%=recipient.username %>,
<br/>

Thanks for booking with Teach My Class. Your <%= @lesson.name%> is all booked in and ready to go. You can message the expert and make changes at <a href="teachmyclass.me"> here </a>.
<br/> <br/>
Thanks,
<br/>
Laura and the Teach My Class team.