  <header>
	<title>Contact - Teach My Class</title>
</header>

<!--Banner-->
<div class="row about-banner">
	<div class="col-md-12 about-title">
		<h1 class="text-center ">Teachers give great feedback. <br /> We'd love yours.</h1>
			<button class="btn btn-normal btn-contact-left text-center"> Sign Up </button>
			<button class="btn btn-normal btn-contact-right text-center"> Feedback </button>
	</div>
</div>

<!--Contact Us Email-->
<div class="row email">
	<div class="col-md-12">
	<h2 class="text-center">hello@teachmyclass.me </h2>
	</div>
</div>

<!--Contact Us Location-->
<div class="row location-text">
	<div class="col-md-12">
	<h4 class="text-center"> We are a New Zealand based company operating out of beautifil Christchurch. If your in the area and would like to visit let us know. </h4>
	</div>
</div>

<!--Contact Us Map-->
<div class="row contact-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d370365.75470596546!2d172.599077!3d-43.513131!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d322f4863c5ed01%3A0x500ef8684799945!2sChristchurch!5e0!3m2!1sen!2snz!4v1543117552354" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


