  <header>
	<title>Privacy Policy - Teach My Class</title>
</header>

<!--Banner-->
<div class="row about-banner">
	<div class="col-md-12 about-title">
		<h1 class="text-center ">Privacy Policy </h1>
		<button class="btn btn-normal btn-about text-center"> Sign Up </button>
	</div>
</div>

<!--Privacy Policy Email-->
<div class="row email">
	<div class="col-md-12">
	<h2 class="text-center"> Privacy Policy goes here. </h2>
	</div>
</div>
