  <header>
	<title>Terms of Use - Teach My Class</title>
</header>

<!--Banner-->
<div class="row about-banner">
	<div class="col-md-12 about-title">
		<h1 class="text-center "> Terms of Use </h1>
			<button class="btn btn-normal btn-about text-center"> Sign Up </button>
	</div>
</div>

<!--Terms of Use Text -->
<div class="row email">
	<div class="col-md-12">
	<h2 class="text-center">Ts and Cs go here </h2>
	</div>
</div>
