<header>
	<title>About Teach My Class</title>
</header>

<!--Banner-->
<div class="row about-banner">
	<div class="col-md-12">
		<h1 class="text-center about-title">Teach My Class is an invitation <br /> to your community</h1>
			<button class="btn btn-normal"> Sign Up </button>
	</div>
</div>

<!--Mission-->
<div class="row mission">
	<div class="col-md-12">
	<h4 class="text-center">Our mission is to <strong> increase authenticity </strong> in education. </h4>
	</div>
</div>

<!--3 column What We Do-->
<div class="row we-do">
	<div class="col-md-12 ">
		<div class="col-md-3">
			<h6 class="text-center">We are for <strong> teachers.</strong></h6>
		</div>

		<div class="col-md-3">
			<h6 class="text-center">We are for <strong> experts.</strong></h6>
		</div>

		<div class="col-md-3">
			<h6 class="text-center">We are for <strong> learners.</strong></h6>
		</div>
	</div>
</div>

<!--Founding Team-->
<div class="row team">
	<h4>Our Team </h4>
	<div class="col-md-12">

		<div class="col-md-6">
			<a href="">
				<div class="staff-title text-center">Laura</div>
				<div class="staff-role text-center">Founder</div>
			</a>
		</div>

		<div class="col-md-6">
			<a href=""> 
				<div class="staff-title text-center">You?</div>
				<div class="staff-role text-center">Co-Founder</div>
			</a>
		
		</div>
	</div>
</div>

<!--Our Values-->
<div class="row values">
	<div class="row">
	<h4>Our Values </h4>
	<div class="col-md-12">

		<div class="values">
			<h4 class="text-center"><strong>KNOW</strong></h4>
		</div>

		<div class="values">
			<h4 class="text-center"><strong>CHOOSE</strong></h4>
		</div>


		<div class="values">
			<h4 class="text-center"><strong>MAXIMISE</strong></h4>
		</div>
	</div>
</div>